body {
	margin: 0;

	font-family: "M Plus 1p", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #001524;
	background-color: #e5e5e5;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0 none;
	clip-path: inset(100%);
}

.card-list-container {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	max-width: 1366px;
	min-width: 1366px;
	padding: 98px;
	margin: 0 auto;
	list-style: none;
	background-color: #f7f7f7;
}

.card-list-container__item {
	box-sizing: border-box;
	flex-basis: calc((100% - 3 * 30px) / 4);
	margin-bottom: 30px;
	height: 414px;
	max-height: 414px;
}

.card-list-container__item:not(:nth-child(4n)) {
	margin-right: 30px;
}

.card-item {
	position: relative;
	box-sizing: border-box;
	padding: 20px 10px 20px 10px;
	height: 100%;
	transition: all 0.2s ease-in-out 0s;

	background-color: #ffffff;
	box-shadow: 0px 4px 15px rgba(157, 162, 166, 0.12);
}

.card-item::before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: calc(100% - 2px);
	height: 100%;
	transition: all 0.2s ease-in-out 0s;
	border: 1px solid #ffffff;

	background-color: inherit;
}

.card-item:hover {
	transition: all 0.2s ease-in-out 0s;
	box-shadow: 0 4px 20px rgba(76, 75, 77, 0.1);
}

/* .card-item:focus {
	border: 1px solid #001524;
} */

.card-item:hover::before {
	transition: all 0.2s ease-in-out 0s;
	top: -10px;
	left: -10px;
	padding: 10px;
}

.card-item > * {
	position: relative;
	z-index: 1;
}

.card-item__chevron {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 2;
	box-sizing: border-box;
	margin: 0;
	padding: 5px 8px;
	border: 1px solid #000000;
	color: #001524;
	font-size: 10px;
	line-height: 15px;
	font-weight: 500;
}

.card-item__chevron--sale {
	border: 1px solid #fb212f;
}

.card-item__chevron--popular {
	border: 1px solid #8962f8;
}

.card-item__chevron--bonus {
	border: 1px solid #5ebad9;
}

.card-item__link {
	display: block;
	height: 171px;
	margin-bottom: 20px;
}

.card-item__img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.card-item__price {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
}

.card-item__price s {
	margin-left: 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #797d80;
}

.card-item__title {
	box-sizing: border-box;
	margin-top: 0;
	margin-bottom: 14px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #001524;
}

.card-item__info-block {
	display: flex;
	align-items: center;
}
